[TMDB_movie_dataset_v11 (TMDB)](#TMDB)

[Amazon Sales Dataset EDA (ASDE)](#ASDE)

[Amazon Customer Behavior Survey (ACBS)](#ACBS)

[California Independent Medical Reviews](#IMR)</br>
https://www.kaggle.com/datasets/prasad22/ca-independent-medical-review

[Predicting_Breast_Cancer](#PBC)

[Breast_cancer_data](#BCD)

<a id="TOC"></a>

In [2]:
import pandas as pd

import os
import sys

library_directory = os.path.abspath('C:\\Users\\jerry\\Programming\\library')
if library_directory not in sys.path:
    sys.path.append(library_directory)

    
import pandas as pd
import os
import sys

# Add the library directory to the system path
library_directory = os.path.abspath('C:\\Users\\jerry\\Programming\\library')
if library_directory not in sys.path:
    sys.path.append(library_directory)

# Import functions from summary_stats_util
from summary_stats_util import (
    describe,
    head,
    dtypes,
    unique,
    unique_df,
    unique_column,
    describe_transposed,
    get_column_averages
    #,    get_col_counts  # Ensure this function is defined in summary_stats_util.py
)
      
import matplotlib.pyplot as plt
from graph_utils import bar_charts

In [3]:
from pre_processing_utilities import df_drop_Nan

   column_1  column_2 column_3
1       2.0      20.0        B
3       4.0      40.0        D

# Amazon Sales Dataset EDA
<a id="ASDE"></a> 
[TOC](#TOC)

In [4]:
ASDE = "Amazon Sales Dataset EDA.csv"
ASDE_DF = pd.read_csv(ASDE, index_col = "product_id")
describe(ASDE_DF)

,product_name,category,discounted_price,actual_price,discount_percentage,rating,rating_count,about_product,user_id,user_name,review_id,review_title,review_content,img_link,product_link
count,1465,1465,1465,1465,1465,1465,1463,1465,1465,1465,1465,1465,1465,1465,1465
unique,1337,211,550,449,92,28,1143,1293,1194,1194,1194,1194,1212,1412,1465
top,"Fire-Boltt Ninja Call Pro Plus 1.83"" Smart Wat...",Computers&Accessories|Accessories&Peripherals|...,₹199,₹999,50%,4.1,"9,378",[CHARGE & SYNC FUNCTION]- This cable comes wit...,"AHIKJUDTVJ4T6DV6IUGFYZ5LXMPA,AE55KTFVNXYFD5FPY...","$@|\|TO$|-|,Sethu madhav,Akash Thakur,Burger P...","R3F4T5TRYPTMIG,R3DQIEC603E7AY,R1O4Z15FD40PV5,R...","Worked on iPhone 7 and didn’t work on XR,Good ...","I am not big on camera usage, personally. I wa...",https://m.media-amazon.com/images/I/413sCRKobN...,https://www.amazon.in/Wayona-Braided-WN3LG1-Sy...
freq,5,233,53,120,56,244,9,6,10,10,10,10,8,3,1

In [5]:
dtypes(ASDE_DF)

product_name           object
category               object
discounted_price       object
actual_price           object
discount_percentage    object
rating                 object
rating_count           object
about_product          object
user_id                object
user_name              object
review_id              object
review_title           object
review_content         object
img_link               object
product_link           object
dtype: object

In [6]:
head(ASDE_DF, 3)

,product_name,category,discounted_price,actual_price,discount_percentage,rating,rating_count,about_product,user_id,user_name,review_id,review_title,review_content,img_link,product_link
product_id,,,,,,,,,,,,,,,
B07JW9H4J1,Wayona Nylon Braided USB to Lightning Fast Cha...,Computers&Accessories|Accessories&Peripherals|...,₹399,"₹1,099",64%,4.2,"24,269",High Compatibility : Compatible With iPhone 12...,"AG3D6O4STAQKAY2UVGEUV46KN35Q,AHMY5CWJMMK5BJRBB...","Manav,Adarsh gupta,Sundeep,S.Sayeed Ahmed,jasp...","R3HXWT0LRP0NMF,R2AJM3LFTLZHFO,R6AQJGUP6P86,R1K...","Satisfied,Charging is really fast,Value for mo...",Looks durable Charging is fine tooNo complains...,https://m.media-amazon.com/images/W/WEBP_40237...,https://www.amazon.in/Wayona-Braided-WN3LG1-Sy...
B098NS6PVG,Ambrane Unbreakable 60W / 3A Fast Charging 1.5...,Computers&Accessories|Accessories&Peripherals|...,₹199,₹349,43%,4.0,"43,994","Compatible with all Type C enabled devices, be...","AECPFYFQVRUWC3KGNLJIOREFP5LQ,AGYYVPDD7YG7FYNBX...","ArdKn,Nirbhay kumar,Sagar Viswanathan,Asp,Plac...","RGIQEG07R9HS2,R1SMWZQ86XIN8U,R2J3Y1WL29GWDE,RY...","A Good Braided Cable for Your Type C Device,Go...",I ordered this cable to connect my phone to An...,https://m.media-amazon.com/images/W/WEBP_40237...,https://www.amazon.in/Ambrane-Unbreakable-Char...
B096MSW6CT,Sounce Fast Phone Charging Cable & Data Sync U...,Computers&Accessories|Accessories&Peripherals|...,₹199,"₹1,899",90%,3.9,"7,928",【 Fast Charger& Data Sync】-With built-in safet...,"AGU3BBQ2V2DDAMOAKGFAWDDQ6QHA,AESFLDV2PT363T2AQ...","Kunal,Himanshu,viswanath,sai niharka,saqib mal...","R3J3EQQ9TZI5ZJ,R3E7WBGK7ID0KV,RWU79XKQ6I1QF,R2...","Good speed for earlier versions,Good Product,W...","Not quite durable and sturdy,https://m.media-a...",https://m.media-amazon.com/images/W/WEBP_40237...,https://www.amazon.in/Sounce-iPhone-Charging-C...

In [7]:
describe(ASDE_DF)

,product_name,category,discounted_price,actual_price,discount_percentage,rating,rating_count,about_product,user_id,user_name,review_id,review_title,review_content,img_link,product_link
count,1465,1465,1465,1465,1465,1465,1463,1465,1465,1465,1465,1465,1465,1465,1465
unique,1337,211,550,449,92,28,1143,1293,1194,1194,1194,1194,1212,1412,1465
top,"Fire-Boltt Ninja Call Pro Plus 1.83"" Smart Wat...",Computers&Accessories|Accessories&Peripherals|...,₹199,₹999,50%,4.1,"9,378",[CHARGE & SYNC FUNCTION]- This cable comes wit...,"AHIKJUDTVJ4T6DV6IUGFYZ5LXMPA,AE55KTFVNXYFD5FPY...","$@|\|TO$|-|,Sethu madhav,Akash Thakur,Burger P...","R3F4T5TRYPTMIG,R3DQIEC603E7AY,R1O4Z15FD40PV5,R...","Worked on iPhone 7 and didn’t work on XR,Good ...","I am not big on camera usage, personally. I wa...",https://m.media-amazon.com/images/I/413sCRKobN...,https://www.amazon.in/Wayona-Braided-WN3LG1-Sy...
freq,5,233,53,120,56,244,9,6,10,10,10,10,8,3,1

# TMDB
<a id="TMDB"></a> 
[TOC](#TOC)

In [8]:
TMDB = "TMDB_movie_dataset_v11.csv"
TMDB = pd.read_csv(TMDB)
describe(TMDB)

,id,vote_average,vote_count,revenue,runtime,budget,popularity
count,1.062987e+06,1.062987e+06,1.062987e+06,1.062987e+06,1.062987e+06,1.062987e+06,1.062987e+06
mean,6.981242e+05,1.994649e+00,2.017606e+01,7.129147e+05,4.935421e+01,2.796952e+05,1.289816e+00
std,3.736721e+05,3.069815e+00,3.293202e+02,1.796215e+07,6.205349e+01,5.051582e+06,7.841593e+00
min,2.000000e+00,0.000000e+00,0.000000e+00,-1.200000e+01,-2.800000e+01,0.000000e+00,0.000000e+00
25%,3.888940e+05,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,6.000000e-01
50%,7.001840e+05,0.000000e+00,0.000000e+00,0.000000e+00,2.700000e+01,0.000000e+00,6.000000e-01
75%,1.025993e+06,5.000000e+00,1.000000e+00,0.000000e+00,9.000000e+01,0.000000e+00,8.860000e-01
max,1.315691e+06,1.000000e+01,3.449500e+04,3.000000e+09,1.440000e+04,9.000000e+08,2.994357e+03

In [9]:
head(TMDB, 3)

,id,title,vote_average,vote_count,status,release_date,revenue,runtime,adult,backdrop_path,...,original_title,overview,popularity,poster_path,tagline,genres,production_companies,production_countries,spoken_languages,keywords
0,27205,Inception,8.364,34495,Released,2010-07-15,825532764,148,False,/8ZTVqvKDQ8emSGUEMjsS4yHAwrp.jpg,...,Inception,"Cobb, a skilled thief who commits corporate es...",83.952,/oYuLEt3zVCKq57qu2F8dT7NIa6f.jpg,Your mind is the scene of the crime.,"Action, Science Fiction, Adventure","Legendary Pictures, Syncopy, Warner Bros. Pict...","United Kingdom, United States of America","English, French, Japanese, Swahili","rescue, mission, dream, airplane, paris, franc..."
1,157336,Interstellar,8.417,32571,Released,2014-11-05,701729206,169,False,/pbrkL804c8yAv3zBZR4QPEafpAR.jpg,...,Interstellar,The adventures of a group of explorers who mak...,140.241,/gEU2QniE6E77NI6lCU6MxlNBvIx.jpg,Mankind was born on Earth. It was never meant ...,"Adventure, Drama, Science Fiction","Legendary Pictures, Syncopy, Lynda Obst Produc...","United Kingdom, United States of America",English,"rescue, future, spacecraft, race against time,..."
2,155,The Dark Knight,8.512,30619,Released,2008-07-16,1004558444,152,False,/nMKdUUepR0i5zn0y1T4CsSB5chy.jpg,...,The Dark Knight,Batman raises the stakes in his war on crime. ...,130.643,/qJ2tW6WMUDux911r6m7haRef0WH.jpg,Welcome to a world without rules.,"Drama, Action, Crime, Thriller","DC Comics, Legendary Pictures, Syncopy, Isobel...","United Kingdom, United States of America","English, Mandarin","joker, sadism, chaos, secret identity, crime f..."

In [10]:
describe(TMDB)

,id,vote_average,vote_count,revenue,runtime,budget,popularity
count,1.062987e+06,1.062987e+06,1.062987e+06,1.062987e+06,1.062987e+06,1.062987e+06,1.062987e+06
mean,6.981242e+05,1.994649e+00,2.017606e+01,7.129147e+05,4.935421e+01,2.796952e+05,1.289816e+00
std,3.736721e+05,3.069815e+00,3.293202e+02,1.796215e+07,6.205349e+01,5.051582e+06,7.841593e+00
min,2.000000e+00,0.000000e+00,0.000000e+00,-1.200000e+01,-2.800000e+01,0.000000e+00,0.000000e+00
25%,3.888940e+05,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,6.000000e-01
50%,7.001840e+05,0.000000e+00,0.000000e+00,0.000000e+00,2.700000e+01,0.000000e+00,6.000000e-01
75%,1.025993e+06,5.000000e+00,1.000000e+00,0.000000e+00,9.000000e+01,0.000000e+00,8.860000e-01
max,1.315691e+06,1.000000e+01,3.449500e+04,3.000000e+09,1.440000e+04,9.000000e+08,2.994357e+03

# Amazon Customer Behavior Survey
<a id="ACBS"></a> 
[TOC](#TOC)

In [11]:
ACBS = "Amazon Customer Behavior Survey.csv"
ACBS = pd.read_csv(ACBS)
describe(ACBS)

,age,Customer_Reviews_Importance,Personalized_Recommendation_Frequency,Rating_Accuracy,Shopping_Satisfaction
count,602.000000,602.000000,602.000000,602.000000,602.000000
mean,30.790698,2.480066,2.699336,2.672757,2.463455
std,10.193276,1.185226,1.042028,0.899744,1.012152
min,3.000000,1.000000,1.000000,1.000000,1.000000
25%,23.000000,1.000000,2.000000,2.000000,2.000000
50%,26.000000,3.000000,3.000000,3.000000,2.000000
75%,36.000000,3.000000,3.000000,3.000000,3.000000
max,67.000000,5.000000,5.000000,5.000000,5.000000

# Independent Medical Reviews
<a id="IMR"></a> 
[TOC](#TOC)

Data Description
Field Name 	Description 	Data type
Reference ID 	Unique identifier for the case 	Plain Text
Report Year 	Year the case was reported 	Number
Diagnosis Category 	The main diagnosis category 	Plain Text
Diagnosis Sub Category 	The secondary diagnosis category 	Plain Text
Treatment Category 	The main treatment category 	Plain Text
Treatment Sub Category 	The secondary treatment category 	Plain Text
Determination 	Indicates if the determination was upheld or overturned 	Plain Text
Type 	Indicates the type of case (Experimental/Investigational, Urgent Care, Medical Necessity) 	Plain Text
Age Range 	The age of the patient 	Number
Patient Gender 	The gender of the patient 	Plain Text
Findings 	A summary of the case findings 	Plain Text

In [12]:
IMR = "Independent_Medical_Reviews.csv"
IMR = pd.read_csv(IMR)
describe(IMR)

        Report Year
count  19245.000000
mean    2009.662977
std        4.272045
min     2001.000000
25%     2007.000000
50%     2010.000000
75%     2014.000000
max     2016.000000

In [33]:
head(IMR, 3)

,Reference ID,Report Year,Diagnosis Category,Diagnosis Sub Category,Treatment Category,Treatment Sub Category,Determination,Type,Age Range,Patient Gender,Findings
0,MN16-22639,2016,Infectious,Hepatitis,Pharmacy/Prescription Drugs,Anti-virals,Overturned Decision of Health Plan,Medical Necessity,41-50,Male,Nature of Statutory Criteria/Case Summary: An ...
1,MN16-22638,2016,Mental,Eating Disorder,Mental Health Treatment,Residential Treatment Center - Admission,Upheld Decision of Health Plan,Medical Necessity,21-30,Female,Nature of Statutory Criteria/Case Summary: An...
2,MN16-22637,2016,Autism Spectrum,Autism-PDD-NOS,Autism Related Treatment,Speech Therapy,Upheld Decision of Health Plan,Medical Necessity,0-10,Female,Nature of Statutory Criteria/Case Summary: Th...

In [34]:
unique_column(IMR, 'Determination')

0    Overturned Decision of Health Plan
1        Upheld Decision of Health Plan
Name: Determination, dtype: object

In [36]:
dtypes(IMR)

Reference ID              object
Report Year                int64
Diagnosis Category        object
Diagnosis Sub Category    object
Treatment Category        object
Treatment Sub Category    object
Determination             object
Type                      object
Age Range                 object
Patient Gender            object
Findings                  object
dtype: object

In [14]:
head(IMR, 3)

,Reference ID,Report Year,Diagnosis Category,Diagnosis Sub Category,Treatment Category,Treatment Sub Category,Determination,Type,Age Range,Patient Gender,Findings
0,MN16-22639,2016,Infectious,Hepatitis,Pharmacy/Prescription Drugs,Anti-virals,Overturned Decision of Health Plan,Medical Necessity,41-50,Male,Nature of Statutory Criteria/Case Summary: An ...
1,MN16-22638,2016,Mental,Eating Disorder,Mental Health Treatment,Residential Treatment Center - Admission,Upheld Decision of Health Plan,Medical Necessity,21-30,Female,Nature of Statutory Criteria/Case Summary: An...
2,MN16-22637,2016,Autism Spectrum,Autism-PDD-NOS,Autism Related Treatment,Speech Therapy,Upheld Decision of Health Plan,Medical Necessity,0-10,Female,Nature of Statutory Criteria/Case Summary: Th...

In [15]:
head(IMR["Findings"], 3)

0    Nature of Statutory Criteria/Case Summary: An ...
1    Nature of Statutory Criteria/Case Summary:  An...
2    Nature of Statutory Criteria/Case Summary:  Th...
Name: Findings, dtype: object

In [16]:
unique_df(IMR)

,Reference ID,Report Year,Diagnosis Category,Diagnosis Sub Category,Treatment Category,Treatment Sub Category,Determination,Type,Age Range,Patient Gender,Findings
0,MN16-22639,2016.0,Infectious,Hepatitis,Pharmacy/Prescription Drugs,Anti-virals,Overturned Decision of Health Plan,Medical Necessity,41-50,Male,Nature of Statutory Criteria/Case Summary: An ...
1,MN16-22638,2006.0,Mental,Eating Disorder,Mental Health Treatment,Residential Treatment Center - Admission,Upheld Decision of Health Plan,Experimental/Investigational,21-30,Female,Nature of Statutory Criteria/Case Summary: An...
2,MN16-22637,2015.0,Autism Spectrum,Autism-PDD-NOS,Autism Related Treatment,Speech Therapy,NaN,Urgent Care,0-10,NaN,Nature of Statutory Criteria/Case Summary: Th...
3,EI16-22636,2014.0,Prevention/Good Health,NaN,"Diagnostic Imaging, Screening and Testing",Mammography,NaN,NaN,65+,NaN,Nature of Statutory Criteria/Case Summary: An ...
4,EI06-5319,2010.0,Cardiac/Circulatory,Female Breast Disorder,Cardio Vascular,NaN,NaN,NaN,51-64,NaN,Physician 1: The patient is a 62-year-old male...
...,...,...,...,...,...,...,...,...,...,...,...
19240,MN01-7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19241,MN01-6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19242,MN01-5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19243,MN01-4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19244,EI01-3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
column_name = "Findings"
head(unique_column(IMR, column_name), 10)

0    Nature of Statutory Criteria/Case Summary: An ...
1    Nature of Statutory Criteria/Case Summary:  An...
2    Nature of Statutory Criteria/Case Summary:  Th...
3    Nature of Statutory Criteria/Case Summary: An ...
4    Physician 1: The patient is a 62-year-old male...
5    Nature of Statutory Criteria/Case Summary:  An...
6    Nature of Statutory Criteria/Case Summary:  An...
7    Nature of Statutory Criteria/Case Summary:  An...
8    Nature of Statutory Criteria/Case Summary:   T...
9    Nature of Statutory Criteria/Case Summary:   T...
Name: Findings, dtype: object

# Predicting_Breast_Cancer
<a id='PBC'></a>
[TOC](#TOC)

In [18]:
data = pd.read_csv("Predicting_Breast_Cancer.csv")
data.drop(["id", "Unnamed: 32"], axis = 1, inplace = True)
describe_transposed(data)

,count,mean,std,min,25%,50%,75%,max
radius_mean,569.0,14.127292,3.524049,6.981000,11.700000,13.370000,15.780000,28.11000
texture_mean,569.0,19.289649,4.301036,9.710000,16.170000,18.840000,21.800000,39.28000
perimeter_mean,569.0,91.969033,24.298981,43.790000,75.170000,86.240000,104.100000,188.50000
area_mean,569.0,654.889104,351.914129,143.500000,420.300000,551.100000,782.700000,2501.00000
smoothness_mean,569.0,0.096360,0.014064,0.052630,0.086370,0.095870,0.105300,0.16340
compactness_mean,569.0,0.104341,0.052813,0.019380,0.064920,0.092630,0.130400,0.34540
concavity_mean,569.0,0.088799,0.079720,0.000000,0.029560,0.061540,0.130700,0.42680
concave points_mean,569.0,0.048919,0.038803,0.000000,0.020310,0.033500,0.074000,0.20120
symmetry_mean,569.0,0.181162,0.027414,0.106000,0.161900,0.179200,0.195700,0.30400
fractal_dimension_mean,569.0,0.062798,0.007060,0.049960,0.057700,0.061540,0.066120,0.09744
radius_se,569.0,0.405172,0.277313,0.111500,0.232400,0.324200,0.478900,2.87300
texture_se,569.0,1.216853,0.551648,0.360200,0.833900,1.108000,1.474000,4.88500
perimeter_se,569.0,2.866059,2.021855,0.757000,1.606000,2.287000,3.357000,21.98000
area_se,569.0,40.337079,45.491006,6.802000,17.850000,24.530000,45.190000,542.20000
smoothness_se,569.0,0.007041,0.003003,0.001713,0.005169,0.006380,0.008146,0.03113
compactness_se,569.0,0.025478,0.017908,0.002252,0.013080,0.020450,0.032450,0.13540
concavity_se,569.0,0.031894,0.030186,0.000000,0.015090,0.025890,0.042050,0.39600
concave points_se,569.0,0.011796,0.006170,0.000000,0.007638,0.010930,0.014710,0.05279
symmetry_se,569.0,0.020542,0.008266,0.007882,0.015160,0.018730,0.023480,0.07895
fractal_dimension_se,569.0,0.003795,0.002646,0.000895,0.002248,0.003187,0.004558,0.02984
radius_worst,569.0,16.269190,4.833242,7.930000,13.010000,14.970000,18.790000,36.04000
texture_worst,569.0,25.677223,6.146258,12.020000,21.080000,25.410000,29.720000,49.54000
perimeter_worst,569.0,107.261213,33.602542,50.410000,84.110000,97.660000,125.400000,251.20000
area_worst,569.0,880.583128,569.356993,185.200000,515.300000,686.500000,1084.000000,4254.00000
smoothness_worst,569.0,0.132369,0.022832,0.071170,0.116600,0.131300,0.146000,0.22260
compactness_worst,569.0,0.254265,0.157336,0.027290,0.147200,0.211900,0.339100,1.05800
concavity_worst,569.0,0.272188,0.208624,0.000000,0.114500,0.226700,0.382900,1.25200
concave points_worst,569.0,0.114606,0.065732,0.000000,0.064930,0.099930,0.161400,0.29100
symmetry_worst,569.0,0.290076,0.061867,0.156500,0.250400,0.282200,0.317900,0.66380
fractal_dimension_worst,569.0,0.083946,0.018061,0.055040,0.071460,0.080040,0.092080,0.20750

# Breast_cancer_data
<a id = 'BCD'></a>
[TOC](#TOC)

In [19]:
BCD = pd.read_csv("Breast_cancer_data.csv")
describe_transposed(BCD)

,count,mean,std,min,25%,50%,75%,max
mean_radius,569.0,14.127292,3.524049,6.98100,11.70000,13.37000,15.7800,28.1100
mean_texture,569.0,19.289649,4.301036,9.71000,16.17000,18.84000,21.8000,39.2800
mean_perimeter,569.0,91.969033,24.298981,43.79000,75.17000,86.24000,104.1000,188.5000
mean_area,569.0,654.889104,351.914129,143.50000,420.30000,551.10000,782.7000,2501.0000
mean_smoothness,569.0,0.096360,0.014064,0.05263,0.08637,0.09587,0.1053,0.1634
diagnosis,569.0,0.627417,0.483918,0.00000,0.00000,1.00000,1.0000,1.0000

In [37]:
dtypes(BCD)

569

In [21]:
len(BCD)

569

In [22]:
unique_column(BCD, 'mean_perimeter')

0      122.80
1      132.90
2      130.00
3       77.58
4      135.10
        ...
517    142.00
518    131.20
519    108.30
520    140.10
521     47.92
Name: mean_perimeter, Length: 522, dtype: float64

In [26]:
columns = ['mean_radius',
'mean_texture',
'mean_perimeter',
'mean_area',
'mean_smoothness',
'diagnosis']
get_column_averages(BCD, columns)

mean_radius         14.127292
mean_texture        19.289649
mean_perimeter      91.969033
mean_area          654.889104
mean_smoothness      0.096360
diagnosis            0.627417
dtype: float64

In [ ]:
IMR = df_drop_Nan(IMR)

In [ ]:
def bar_charts(df, cols):#cols is a list of columns
    for col in cols:
        plt.figure(figsize = (12, 4))

        print("\n")
        plt.suptitle(f"{col} distribution")
        df[col].value_counts().plot(kind = "bar")
        plt.xlabel(f"{col}")
        plt.ylabel("count")

        plt.show()
        print("\n")

In [ ]:
df = IMR
cols = ['Report Year', 'Diagnosis Category', 'Treatment Category', 'Treatment Sub Category', 'Determination, Age Range', 'Patient Gender']
bar_charts(df, cols)